# PostgreSQL version 9.1.9
#   gem install pg
#
#   Ensure the pg gem is defined in your Gemfile
#   gem 'pg'

development: &defaults
  adapter: postgresql
  encoding: utf8
  reconnect: true
  database: team_effort_development
  pool: 5
  username: bla_bla
  password: bla_bla
  host: 127.0.0.1

test:
  <<: *defaults
  database: team_effort_test

production:
  <<: *defaults
  database: team_effort_production
  username: bla_bla
